<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKEND_URL</key>
	<string>https://api.riskmate.dev</string>
	<key>SUPABASE_URL</key>
	<string>https://xwxghduwkzmzjrbpzwwq.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3eGdoZHV3a3ptempyYnB6d3dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzOTE1NjIsImV4cCI6MjA3Nzk2NzU2Mn0.-vLpuaDWxd0-XQMN1YymKl6aOXSxz_OFwS3JDDhm3fA</string>
</dict>
</plist>
